<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css"/>
    <title>Software-Med Blog || <%= title %></title>
  </head>
  <body>
    <%- include("./partials/Header.ejs") %>
    
    <p class="section-subtitle">All Blog</p>
    
    
  <section class="main container">
    <div class="blog-main-scroll">
    <% if (blogs.length) { %>
    <% blogs.map((i) => { %>
      <div class="scroll-item">
        <div class="blog-main-img-card">
         <img class="img-cover" src=<%= i.urlToImage %> alt=<%= i.title %> />
        </div>
        <div class="blog-desc-card">
          <h3 class="blog-h4">
          <a href=<%= `/blog/${i.id}` %>>
            <%= i.title %>
            </a>
        </h3>
        </div>
      </div>
    <% }) %>
    <% }else { %>
      <p class="section-subtitle">No blogs</p>
    <% }%>
  </div>
  </section>
    
    
   <section class="scroll container">
     <p class="section-subtitle">Check out some <strong>Highlighted stories</strong></p>
    <div class="has-scrollbar">
    <% if (blogs.length) { %>
    <% rand(blogs, 6).map((i) => { %>
    <div class="scroll-item">
        <div class="img-card">
         <img class="img-cover" src=<%= i.urlToImage %> alt=<%= i.title %> />
          <ul class="authors">
            <li class="author"><img class="auth-img"
                src="/recommended-6.jpg" alt="" /></li>
            <li class="author"><img class="auth-img"
                src="/newsletter.png" alt="" /></li>
          </ul>
        </div>
        <div class="desc-card">
          <ul class="tags">
            <li class="tag">Tech</li>
            <li class="tag">Fashion</li>
          </ul>
          <h3 class="h4">
          <a href=<%= `/blog/${i.id}` %>>
            <%= i.title %>
          </a>
        </h3>
        </div>
    </div>
    <% }) %>
    <% }else { %>
      <p class="section-subtitle">No blogs</p>
    <% }%>
    </div>
   </section>
   
    
    <%- include("./partials/Footer.ejs") %>
  </body>
</html>
